Makefile
*~
.DS_Store
*.rej
*.orig
*.tar.gz
Makefile.in
configure
aclocal.m4
autom4te.cache
conftools
config.log
config.status
CHANGES
README
var
man
thirdparty/*
!thirdparty/Makefile.am
!thirdparty/cpanfile-*.snapshot
etc
!etc/zadm.conf.dist
!etc/Makefile.am
novnc
